<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/bootstrap-theme.css">
	<link rel="stylesheet" href="/static/css/site.css">
	<link rel="stylesheet" href="/static/js/easy-autocomplete.min.css">
	<link rel="stylesheet" type="text/css" href="/static/jquery-ui.min.css">
	<script src="/static/js/jquery-2.1.0.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/arrayextends.js"></script>
	<script src="/static/js/jquery.easy-autocomplete.min.js"></script>
	<script type="text/javascript" src="/static/jquery-ui.min.js"></script>
	<script src="data:application/octet-stream;base64,JC5mbi5zZXJpYWxpemVPYmplY3QgPSBmdW5jdGlvbigpIHsKCXZhciBvID0ge307Cgl2YXIgYSA9IHRoaXMuc2VyaWFsaXplQXJyYXkoKTsKCSQuZWFjaChhLCBmdW5jdGlvbigpIHsKCQlpZiAob1t0aGlzLm5hbWVdKSB7CgkJCWlmICghb1t0aGlzLm5hbWVdLnB1c2gpIHsKCQkJCW9bdGhpcy5uYW1lXSA9IFtvW3RoaXMubmFtZV1dOwoJCQl9CgkJCW9bdGhpcy5uYW1lXS5wdXNoKHRoaXMudmFsdWUgfHwgJycpOwoJCX0gZWxzZSB7CgkJCW9bdGhpcy5uYW1lXSA9IHRoaXMudmFsdWUgfHwgJyc7CgkJfQoJfSk7CglyZXR1cm4gbzsKfTs="></script>
	<script>
		var GLOBAL_ID_AMB = 1;
		var resitution = Array();
		var resitution2 = Array();
		var table2data = Array();
		jQuery(document).ready(function($) {
			$(document).tooltip(); 
			updateHorario=function(id, container, url){
				$.ajax({
				url: '/horas/',
				type: 'GET',
				data: {},
			})
			.done(function(horas) {
				generarTablas(id, container, horas);
				$.ajax({
					url: url,
					type: 'GET',
					data: {},
				})
				.done(function(data) {
					//$("#horas_acum").append("Horas Acumuladas "+data.length+"<br>");
					if(id == "table2")
					{
						//console.log(data);
						$("#horas_acum").html("Horas Acumuladas Semestrales " + data.length);
						var materias = new Array();
						for(var i = 0;i < data.length; i++) {
							materias.push(data[i].descripcion);
						}
						var m = materias.unique();
						var datastring = "";
						
						for(var j = 0; j< m.length; j++)
						{
							datastring += "<li>" + m[j] + "</li>";
						}
						$("#listas_id").html(datastring);
					}
					if(id=="table1"){
						$("#horas_acum1").html("Horas Acumuladas Docente "+data.length);
					}
					
					//console.log(data);
					pintarHorario(id,data);
				})
				.fail(function() {
					console.log("error");
				})
				.always(function() {
					console.log("complete");
				});
				
			})
			.fail(function() {
				console.log("error");
			})
			.always(function() {
				console.log("complete");
			});	
			}
			isMoreThanOne=function(data,ids)
			{
				var c=0;
				var result = {count: c,result: true}
				for(var i = 0; i < data.length; i++)
				{
					if(data[i] == ids)
					{
						c++
						result.count = c;
						if(c == 2){
							result.result = false;
							data.pop();
							return result;
						}
					}
				}
				return result;
			}
			resizeTables = function(tableid,i,j,h)
			{
				var subh = h.substr(0,h.length-2);
				var number = Number(subh);
				$("#" + i + "_" + tableid+"_" + j + ">div").css("height", number);
				if(tableid == "table1")
					resitution.push("#" + i + "_" + tableid + "_" + j + ">div");
				if(tableid == "table3")
					resitution2.push("#" + i + "_" + tableid + "_" + j + ">div");
				
			}
			restablecer = function(tableid)
			{
				if(tableid == "table2")
				{
					for(var i = 0; i < resitution.length; i++)
					{
						$(resitution[i]).css("height", 60);
					}
					for(var i = 0 ; i < resitution2.length; i++)
					{
						$(resitution2[i]).css("height", 60);
					}
					resitution = Array();
					resitution2 = Array();
				}
			}
			pintarHorario = function(tableid, data)
			{
				if(tableid == "table2")
				{
					table2data = data;
				}
					
				var stack = Array();

				for(var i = 0;i < data.length; i++)
				{
					$("#"+data[i].fila+"_"+tableid+"_"+data[i].columna+" div").html("");
				}

				for(var i=0;i<data.length;i++){
					stack.push(data[i].fila+"_"+tableid+"_"+data[i].columna);
					var css = "materia";
					var r2 = isMoreThanOne(stack, data[i].fila + "_" + tableid + "_" + data[i].columna);
					if(!r2.result)
					{
						css = "colision";
					}
					if (window.location.href.indexOf("reporteSemestre") > -1) {
						$("#"+data[i].fila+"_"+tableid+"_"+data[i].columna+" .selector").append('<div class="'+css+'" title="'+data[i].descripcion+'">'+data[i].materia+'</div>');
					
					} else {

						$("#"+data[i].fila+"_"+tableid+"_"+data[i].columna+" .selector").append('<div class="'+css+'" title="'+data[i].descripcion+'">'+data[i].materia+'</div><a href="#" idHorario="'+data[i].id+'" class="borrar">Borrar</a>');
					}
					/*append('<div class="'+css+'" title="'+data[i].descripcion+'">'+data[i].materia+'</div>');*/
					$("#"+data[i].fila+"_"+tableid+"_"+data[i].columna+" .selector a").click(function(event) {
						event.preventDefault();
						$.ajax({
							url: '/borrarHorario/'+$(this).attr("idHorario")+'/',
							type: 'GET',
							data: {},
						})
						.done(function() {
							updateHorario("table3","contenedor3",'/porAmbiente/' + GLOBAL_ID_AMB + '/');
							updateHorario("table1","contenedor",'/docente/');
							updateHorario("table2","semestre_horario",'/porSemestre/');
						})
						.fail(function() {
							console.log("error");
						})
						.always(function() {
							console.log("complete");
						});
						
					});
					$("#"+data[i].fila + "_" + tableid + "_" + data[i].columna + " .selector").attr({"estado":"contenido"})
					$("#"+data[i].fila+"_"+tableid+"_"+data[i].columna+" div").css({
						"opacity":1
					});
				}
				if(tableid=="table3"||tableid=="table2")
				{
					restablecer("table2");
					for(var i=0;i<table2data.length;i++)
					{
					//resitution=Array();
					resizeTables("table1",table2data[i].fila,table2data[i].columna,$("#"+table2data[i].fila+"_table2_"+table2data[i].columna+" .selector").css("height"
						));
					resizeTables("table3",table2data[i].fila,table2data[i].columna,$("#"+table2data[i].fila+"_table2_"+table2data[i].columna+" .selector").css("height"
						));
					}	
				}
				
				
			}
			generarTablas=function(id,container,horas){
				html = "<table id='"+id+"' class='table'>"
				var dias = ["Lunes","Martes","Miércoles","Jueves","Viernes","Sábado"]
				html += "<tr>";
				html += "<td>Horas</td>"
				for (var r = 0;r < dias.length; r++)
				{
					
					html += "<th>" + dias[r] + "</th>";
					
				}
				html += "</tr>";
				for(var i = 0;i < horas.length; i++){
					html += "<tr>";
					if(horas.length > i + 1)
					{
						html += "<td>" + horas[i] + "-" + horas[i+1] + "</td>"	
					}else{
						html += "<td>" + horas[i] + "-20:45</td>"
					}
					
					for(var j = 0; j < dias.length; j++){
						html += "<td id='" + i + "_" + id + "_" + j + "'>";
						html += "<div i= '" + i + "' j ='" + j + "' class='selector' estado='nuevo'>Añadir Nuevo</div>";
						html += "</td>"
					}
					html += "</tr>"
				}
				html += "</table>";
				$("#"+container).html(html);
				$("#"+id+" tr td .selector").click(function(event) {
					//console.log($(this).attr("i"));
					if($(this).attr("estado") == "nuevo"){
					var i=$(this).attr("i")
					var j=$(this).attr("j")
					$("#id_i").val(i);
					$("#id_j").val(j);
					//alert(" "+i+" "+j);
					console.log($("#ij").serializeObject());
					$.ajax({
						url: '/guardar/',
						type: 'POST',
						data: $("#ij").serializeObject()
					})
					.done(function(html) {
						//alert(html)
						updateHorario("table3","contenedor3",'/porAmbiente/'+GLOBAL_ID_AMB+'/');
						updateHorario("table1","contenedor",'/docente/');
						updateHorario("table2","semestre_horario",'/porSemestre/');
					})
					.fail(function() {

					})
					.always(function() {

					});	
					}
					
				});
			}
		});
	</script>
	<title>Document</title>
</head>
<body>

	{% block container%}
	{% endblock %}
	<ul id="listas_id">
		
	</ul>
	<form id="ij">
  			{{i_j.as_ul}}
  			{%csrf_token%}
  	</form>
</body>
</html>
