{% extends "base.html"%}
{% block container%}
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$("#filtrar").submit(function(event) {
				$.ajax({
					url: '/setSem/',
					type: 'POST',
					data: $("#filtrar").serializeObject()
				})
				.done(function(s) {
					console.log(s);
					updateHorario("table2","semestre_horario",'/porSemestre/');
				})
				.fail(function(s) {
					
				})
				.always(function() {
					console.log("complete");
				});
				
				return false;
			});
			$("#menu_load_sem li a").click(function(event) {
				var idSem=$(this).attr("idSem");
				var name=$(this).attr("nameSem");
				//alert(name);
				$.ajax({
					url: '/loadSem/'+idSem+"/",
					type: 'GET'
				})
				.done(function(val) {
					$("#semestresid").html(name);
					updateHorario("table2","semestre_horario",'/porSemestre/');
				})
				.fail(function() {
					console.log("error");
				})
				.always(function() {
					console.log("complete");
				});
				
			});
			$("#menu_load_amb li a").click(function(event) {
				event.preventDefault();
				var idAm=$(this).attr('idAm');
				GLOBAL_ID_AMB=idAm
				$.ajax({
					url: '/getAmbiente/'+idAm+'/',
					type: 'GET',
					data: {},
				})
				.done(function(html) {
					console.log("success");
					$("#input_text").html(html)
				})
				.fail(function() {
					console.log("error");
				})
				.always(function() {
					console.log("complete");
				});
				updateHorario("table3","contenedor3",'/porAmbiente/'+idAm+'/');
			});
			console.log($("#busqueda").serializeObject())
			$("#id_buscar_docente").keyup(function(event) {
				$.ajax({
					url: 'buscarDocente/',
					type: 'POST',
					data:$("#busqueda").serializeObject(),
				})
				.done(function(html) {
					$("#resultados").html(html);
				})
				.fail(function() {
					console.log("error");
				})
				.always(function() {
					console.log("complete");
				});
				
			});
			var getMaterias=function()
			{
				$.ajax({
					url: '/materias/',
					type: 'POST',
					data: {id: $("#docente_input").attr("idDoc")},
				})
				.done(function(html) {
					$("#materias_li").append(html);
				})
				.fail(function() {
					console.log("error");
				})
				.always(function() {
					console.log("complete");
				});
				
			}
		});
	</script>
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form id="busqueda" class="navbar-form navbar-left" role="search">
        <div class="form-group">
         {{form}}
         {%csrf_token %}
        </div>
      </form>
		
      <ul class="nav navbar-nav">
        <li class="dropdown open" id="resultados">
          
        </li>
        <li id="materias_load">

        </li>
        <li id="materias_load_es">
        	
        </li>
        <li id="ambientes_load" class="dropdown">
        	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    			Ambientes
    			<span class="caret"></span>
  			</button>
  			<ul id="menu_load_amb" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				{% for i in ambientes%}
					<li><a href="#" idAm="{{i.id}}">{{i}}</a></li>
				{% endfor%}
			</ul>
        </li>
        <li id="input_text">
        	
        </li>
        <li>
        	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
        		Semestres
        		<span class="caret"></span>
        	</button>
        	<ul id="menu_load_sem" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				{% for i in semestre%}
					<li>
						<a href="#" idSem="{{i.id}}" nameSem="{{i}}">{{i}}</a>
					</li>
				{% endfor %}
        	</ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	<div class="alert alert-info" role="alert" id="filtro">
	<form id="filtrar">
		{{filtrar}}
		{%csrf_token%}
		<input type="submit" value="Enviar"/>
	</form>
	</div>
	<div class="alert alert-info" role="alert" id="horas_acum1">
		
	</div>
	<div class="alert alert-info" role="alert" id="horas_acum">
	</div>
	<div class="row">
  		<div class="col-xs-4 col-md-4">
  			<div  class="panel panel-default" width="200px">
				<div class="panel-heading">Horarios Vista Docente</div>
				<div id="contenedor" class="panel-body"></div>
			</div>
		</div>
  		<div class="col-xs-4 col-md-4">
  			
  			<div  class="panel panel-default" width="200px">
				<div id="semestresid" class="panel-heading">Horarios Vista Semestres</div>
				<div id="contenedor2" class="panel-body"></div>
			</div>
  		</div>
  		<div class="col-xs-4 col-md-4">
  			
  			<div  class="panel panel-default" width="200px">
				<div class="panel-heading">Horarios Vista Ambientes</div>
				<div id="contenedor3" class="panel-body"></div>
			</div>
  		</div>
  		
  	</div>
	{{data}}
{% endblock %}