{% extends "base.html"%}
{% block container%}
<script type="text/javascript">
	var iddocente=-1;
	var idmateria=-1;
	jQuery(document).ready(function($) {
		$("table").find("[id='delete_materia']").click(function(event) {
			event.preventDefault();
			var data={"idDoc":$(this).attr("iddocente"),"idMat":$(this).attr("idmateria"),"csrfmiddlewaretoken":$("#formsubmit").serializeObject().csrfmiddlewaretoken}
			$.ajax({
				url: '/deletemateria/',
				type: 'POST',
				dataType: 'json',
				data:data,
			})
			.done(function(response) {
				if(response.succes)
				{
					document.location.href="/lista/#"+response.id;
					document.location.reload(true);
					
				}
			})
			.fail(function() {
				console.log("error");
			})
			.always(function() {
				console.log("complete");
			});
			
		});
		$("#formsubmit").submit(function(event) {
				event.preventDefault();
				//console.log($(this).serializeObject());
				var data={"idDoc":iddocente,"idMat":idmateria,"csrfmiddlewaretoken":$(this).serializeObject().csrfmiddlewaretoken}
				console.log(data);
				$.ajax({
					url: '/updatemateria/',
					type: 'POST',
					dataType: 'json',
					data:data,
				})
				.done(function(response) {
					console.log(response);
					if(response.succes)
					{
						document.location.href="/lista/#"+response.id;
						document.location.reload(true);
					}
					
				})	
				.fail(function() {
					
				})
				.always(function() {
					
				});
				return false;
		});
		$("table button").each(function(index, el) {
			$(this).click(function(event) {
				iddocente=$(this).attr('iddoc');
				$("#materias").val("");
				$("#docente").html($(this).attr("namdoc"));
				$("#addmateria").modal();
			});

		});
		var options = {
  			url: "/jsonmaterias/",
  			getValue: "name",
  			list: {	
    			match: {
      			enabled: true
    			},
    		onSelectItemEvent: function() {
      					
						var value = $("#materias").getSelectedItemData().id;
						idmateria=value;
						//console.log(value);
					}	
  			},
 	 		theme: "square"
			};
		$("#materias").easyAutocomplete(options);
	});
</script>
<div class="modal fade" id="addmateria">
	<div class="modal-dialog">
		<div class="modal-content">
			<form action="" id="formsubmit" method="POST" role="form">
			
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Agregar Materia</h4>
			</div>
			<div class="modal-body">
				{% csrf_token %}
				<span  id="docente">Materias:</span>
				<input type="text" name="" id="materias" class="form-control" value=""  title="">
			</div>
			<div class="modal-footer">

				<button type="submit"  class="btn btn-primary">Guardar Cambios</button>
			</div>
			</form>
		</div>
	</div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Docentes</div>
  <div class="panel-body">
  	<table class="table table-hover">
	<tr>
		<th>Nombres:</th>
		<th>Apellidos:</th>
		<th>Materias</th>
	</tr>
	{%for i in listaDoc%}
	<tr>
		<td><a href="" name="{{i.id}}">-></a> {{i.nombre}}</td>
		<td>{{i.apellido}}</td>
		<td>
			<button type="button" namdoc="{{i.nombre}} {{i.apellido}}" iddoc="{{i.id}}"  class="btn btn-default">Agregar Materia</button>
		</td>
		<td>
			<ul>
			{%for item in i.materia.all %}
				<li> {{item.id}} {{item.sigla}} {{item.nombre}} <a id="delete_materia" iddocente="{{i.id}}" idmateria="{{item.id}}" href="">Eliminar</a></li>
			{% endfor %}
			</ul>
		</td>
	</tr>
	{% endfor %}
</table>
  </div>
</div>
{% endblock %}